<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title class>Calculator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
      h3 {
                color:green;
            }
      input[type="number"] {
                text-align: -moz-right;
                -moz-appearance: textfield;
            }
      label.form-group-label{
          display: block;
        text-align:center;
}
      .tooltip-inner {
    border: solid 1px #ccc;
}
      div.content {
        width: 68%;
        margin: 0 4% 0 4%
}
  </style>
</head>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Box List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/box-list/calculator/"> Calculator <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/box-list/mommy/">Mommy</a>
    </div>
  </div>
</nav>

<body>
<h3> Calculator</h3>
<div class="card">
  <div class="card-body">
      <form method="POST">
        {% csrf_token %}

<div class="row justify-content-md-center">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="Man" value="Man" {% if gender == "Man" %} checked {% endif%}>
  <label class="form-check-label" for="Man"> Man </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="Woman" value="Woman" {% if gender == "Woman" %} checked {% endif%} >
  <label class="form-check-label" for="Woman"> Woman </label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="Child" value="Child" {% if gender == "Child" %} checked {% endif%}
  data-toggle="tooltip"
                   title="Children over the age of 9 should be calculated as adults">
  <label class="form-check-label" for="Child"> Child </label>
</div><br>

<input type="button" value="Mommy" onclick="location.href='/box-list/mommy/'" data-toggle="tooltip"
                   title="Diet specificly calculated for pregnat women and while breast feeding">
</div>
 <br>
    <div class="row justify-content-md-center">
        <div class="col-2">
            <div class="form-group">
                <input type="number" step="1" class="form-control" id="age" name="age" {% if age %} value={{age}} {% endif%} >
                <label for="age" class="form-group-label">Age</label>
            </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <input type="number" step="1" class="form-control" id="weight" name="weight" {% if weight %} value={{weight}} {% endif%}>
                <label for="weight" class="form-group-label">Weight</label>
            </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <input type="number" step="1" class="form-control" id="weight" name="height" {% if height %} value={{height}} {% endif%} >
                <label for="height" class="form-group-label">Height</label>
            </div>
        </div>
    </div>


<table class="table table-borderless">
  <thead class="table-light">
    <tr>
      <th>Physical activity:</th>
      <th>Specific diets (optional):</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <div >
          <div class="form-check">
            <input class="form-check-input" type="radio" id="1time" name="activity" value="1time">
            <label class="form-check-label" for="1time"> Little or no exercise </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="2time" name="activity" value="2time">
            <label class="form-check-label" for="2time"> Exercise 1-3 times/week </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="3time" name="activity" value="3time">
            <label class="form-check-label" for="3time"> Exercise 4-5 times/week </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="4time" name="activity" value="4time">
            <label class="form-check-label" for="4time"> Daily exercise or intense exercise 3-4 times/week </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="5time" name="activity" value="5time">
            <label class="form-check-label" for="5time"> Intense exercise 6-7 times/week </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="6time" name="activity" value="6time">
            <label class="form-check-label" for="6time"> Very intense exercise daily, or physical job </label>
          </div>
        </div>

      </td>

      <td>
        <div class="col-6 col">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="Diabetic" name="diet" value="Diabetic">
              <label class="form-check-label" for="Diabetic"> Diabetic </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="LactoseFree" name="diet" value="LactoseFree">
              <label class="form-check-label" for="LactoseFree"> Lactose Free </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="GlutenFree" name="diet" value="GlutenFree">
              <label class="form-check-label" for="GlutenFree"> Gluten Free </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="LactoseGlutenFree" name="diet" value="LactoseGlutenFree">
              <label class="form-check-label" for="LactoseGlutenFree"> Lactose & Gluten Free </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="VegeFish" name="diet" value="VegeFish">
              <label class="form-check-label" for="VegeFish"> Vege + Fish </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="Vege" name="diet" value="Vege">
              <label class="form-check-label" for="Vege"> Vege </label>
            </div>
           <div class="form-check">
              <input class="form-check-input" type="radio" id="Wegan" name="diet" value="Wegan">
              <label class="form-check-label" for="Wegan"> Wegan </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="LessCarb" name="diet" value="LessCarb">
              <label class="form-check-label" for="LessCarb"> Less Carb </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="Hashimoto" name="diet" value="Hashimoto">
              <label class="form-check-label" for="Hashimoto">Hashimoto</label>
            </div>
        </div>

      <td></td>
    </tr>
  </tbody>
</table>

<input type="submit" value="Choose diet">
</form>
<br>
 {% if bmrcal %}
 Your daily need of calories is: {{ bmrcal }}<br>
 Basing on your BMI: {{ bmical }}
  {% endif %}
 {% if bmrcal1 %}
 Children daily need of calories is: {{ bmrcal1 }}
{% endif %}

{% if  error %}
    {{ error }}
  {% endif %}


  {% if  result %}
<table class="table">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col">Dieta</th>
      <th scope="col">Firma</th>
      <th scope="col" >Kalorycznosc</th>
      <th scope="col" >Cena</th>
      <th scope="col" >Ilosc posilkow</th>
    </tr>
  </thead>
  <tbody>
{% for dieta in result  %}
    <tr>
        <th scope="row" >{{ dieta.id }}</th>
        <td >{{ dieta.dieta }}</td>
        <td >{{ dieta.firma }}</td>
        <td  style="color:red;">{{ dieta.kalorycznosc }}</td>
        <td >{{ dieta.cena }}</td>
        <td >{{ dieta.ilosc_posilkow }}</td>
        <td> <input type="button" value="Go to diet" onclick="location.href='{{ dieta.firma.url }}'"> </td>

        <!--<td> <input type="button" value="Go to diet" onclick="location.href='/box-list/mommy/'"> </td>-->
    </tr>
{%  endfor %}
  </tbody>
</table>
  {% endif %}
  </div>
</div>





</body>
</html>